{% extends 'notes/base.html' %}

{% block body %}

<div class="container">

    <div class="row">

        <div class="col-sm-12 col-md-offset-4 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">

                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'notes/form-template.html' %}
                        <div class="form-group">
                            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised">
                              Submit
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}